.AccountSelector-container {
  min-height: calc(100vh - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15vh;
}

.AccountSelector-account-container {
  margin-bottom: 15px;
  width: 380px;
}

.AccountSelector-name {
  margin-bottom: 0;
  font-weight: 700;
  text-align: left;
  font-size: large;
}

.AccountSelector-bottom-container {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;

}

.AccountSelector-bottom-text {
  font-weight: 500;
  margin-bottom: 0;
}

.AccountSelector-title {
  font-weight: 700;
  font-size: x-large;
}
